<div class="container">
  
  <div class="card">
    <h1>{{ btnTitulo }} <span>FUNCIONÁRIO</span></h1>

    <form [formGroup]="funcionarioForm" (ngSubmit)="submit()" #formDir="ngForm">
      <input type="hidden" value="" formControlName="id">

      <div class="input-box">
        <label for="nome">NOME</label>
        <input id="nome" type="text" class="form-control text-dark" formControlName="nome" placeholder="Insira o nome!" required>
      </div>

      <div class="input-box">
        <label for="sobrenome">SOBRENOME</label>
        <input id="sobrenome" type="text" class="form-control text-dark" formControlName="sobrenome" placeholder="Insira o sobrenome!" required>
      </div>

       <div class="input-box">
        <label for="cargo">CARGO</label>
        <select id="cargo" class="form-select" formControlName="cargo" required>
          <option *ngFor="let cargo of cargos" [value]="cargo.nome">{{ cargo.nome }}</option>
        </select>
      </div>

      <div class="input-box">
        <label for="empresa">EMPRESA</label>
        <select id="empresa" class="form-select" formControlName="empresa" required>
          <option *ngFor="let empresa of empresas" [value]="empresa.nome">{{ empresa.nome }}</option>
        </select>
      </div>

      <div class="input-box">
      <label for="departamento">DEPARTAMENTO</label>
      <select id="departamento" class="form-select" formControlName="departamento" required>
        <option *ngFor="let dep of departamentos" [value]="dep.nome">{{ dep.nome }}</option>
      </select>
      </div>

      <div class="input-box">
        <label for="turno">TURNO</label>
        <select id="turno" class="form-select" formControlName="turno" required>
          <option value="Manha">MANHA</option>
          <option value="Tarde">TARDE</option>
          <option value="Noite">NOITE</option>
        </select>
      </div>

     

      <div class="btn-box">
        <button class="btn btn-success w-50" routerLink="">VOLTAR</button>
        <button type="submit" class="btn btn-primary w-50" [disabled]="!funcionarioForm.valid">{{ btnAcao }}</button>
      </div>
    </form>
  </div>
</div>
