<h1>{{btnTitulo}}</h1>
<main>
    <form [formGroup]="funcionarioForm" (ngSubmit)="submit()" #formDit="ngForm">
        <input type="hidden" formControlName="id">
        <div class="input-box">
            <label for="">Nome: </label>
            <input type="text" formControlName="nome" placeholder="Digite seu nome" required>
        </div>
        
        <div class="input-box">
            <label for="">Sobrenome: </label>
            <input type="text" formControlName="sobrenome" placeholder="Digite seu sobrenome" required>
        </div>
    
        <div class="input-box">
            <label for="">Departamento: </label>
            <select name="" id="departamento" formControlName="departamento" required>
            <option value="RH">RH</option>
            <option value="Financeiro">Financeiro</option>
            <option value="Compras">Compras</option>
            <option value="Atendimento">Atendimento</option>
            <option value="Zeladoria">Zeladoria</option>
            </select>
        </div>
        <div class="input-box">
            <label for="">Turno: </label>
            <select name="" id="turno" formControlName="turno" required>
            <option value="Manha">Manha</option>
            <option value="Tarde">Tarde</option>
            <option value="Noite">Noite</option>
            </select>
        </div>
    
            <div class="btn-box">
    
                <button type="submit" [disabled]="!funcionarioForm.valid">{{ btnAcao }}</button>
                <button routerLink="/">Voltar</button>
            </div>
    </form>
</main>
