*{
  font-family: 'Poppins', sans-serif;
}

$primary-color: #007bff;
$secondary-color: rgb(112, 109, 109);
$text-color: #000;

h1 {
  text-align: center;
  font-size: 1.85rem;
  font-weight: bold;
  margin: 10px;

  span {
    font-weight: bold;
    color: #007bff;
  }
}

.container {
  display: flex;
  justify-content: center;
  border-radius: 6px;
  margin: auto; 
  padding: 20px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;

  .card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    

    h1 {
      margin-bottom: 12px;
    }

    .input-box {
      display: flex;
      flex-direction: column;
      gap: 11px;
      margin-top: 10px;

      label {
        font-weight: bold;
        font-size: 1.4rem;
      }

      input,
      select {
        width: 100%;
        padding: 8px;
        border: 1px solid #afafaf;
        border-radius: 4px;
        box-sizing: border-box;
        background-color: #fff;
       

        &.text-dark {
          color: $text-color; 
        }
      } 


     
      select {
        background: transparent;
        width: 268px;
        padding: 5px;
        font-size: 1.42rem;
        line-height: 1;
        border: 0;
        border-radius: 0;
        height: 34px;
      }
    }

    .btn-box {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;

      .btn {
        padding: 9px 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 100%;

        &.btn-success {
          background-color: $primary-color;
          color: #fff;
        }

        &.btn-primary {
          background-color: $secondary-color;
  color: #fff;
  margin-left: 10px;

   &:enabled {
    background-color: $primary-color;
    }
        }
      }
    }
  }
}
