<div *ngIf="funcionario">
    <h1 mat-dialog-title>Deseja confirmar a exclusão?</h1>
    <div mat-dialog-content>
      <p style="font: bold;">Funcionario: {{funcionario.nome}} {{funcionario.sobrenome}}</p>
      <p style="font-style: bold;">Departamento: {{funcionario.departamento}}</p>    
    </div>
  </div>
  <div mat-dialog-actions class="btns">
    <button mat-button  mat-raised-button color="warn" (click)="excluir()" style="background-color: red;">CONFIRMAR</button>
    <button routerLink="" style="background-color: rgb(18, 84, 207);">VOLTAR</button>
  </div>
  