<main>
    <div class="content">
        <div class="text">
            <h2>Acesse a plataforma</h2>
            <p>
                Faça login ou registre-se para começar a visualizar seus funcionários ainda hoje.
            </p>
        </div> 
        <form>
            <label for="email">Email:</label>
            <input type="text" placeholder="Digite seu e-mail">
            <label for="email">Senha:</label>
            <input type="text" placeholder="Digite sua senha">
            <button>Entrar</button>
        </form>
    </div>
    <img src="assets/images/plano.png" alt="" width="736" height="800">
</main>