.funcionario-box {
    button{
        border: none;
        padding: 5px;
        background-color: #0084FE;
        border-radius: 4px;
        color: white;
        font-family: "Montserrat", sans-serif;
        
    }
}