.mat-card {
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.funcionario-box {
  margin-bottom: 20px;

  button {
    background-color: #007bff;
    width: 100%;
    padding: 10px;
    font-size: 1.5rem;
    color: white;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    margin-bottom: 20px;
  }
}

.input-box {
  margin-top: 10px;
}

.mat-table {
  width: 100%;
  border-collapse: collapse;

  th, td {
      border: 1px solid #ddd;
      padding: 8px;
  }

  th {
      background-color: #f2f2f2;
  }

  tr:nth-child(even) {
      background-color: #f2f2f2;
  }

  tr:hover {
      background-color: #ddd;
  }
}

.primary-btn {
  background-color: #007bff;
  color: #fff;
}

.editar-btn, .detalhes-btn {
  background-color: #28a745;
  color: #fff;
}

.excluir-btn {
  background-color: #dc3545;
  color: #fff;
}
