<div>
    <h1>Detalhes funcionario</h1>
</div>

<div>
    <form action="">
        <div class="input-box">
            <label for="">Nome</label>
            <input type="text" value="">
            <label for="">Sobrenome</label>
            <input type="text" value="">
            <label for="">Departamento</label>
            <input type="text" value="">
            <label for="">Turno</label>
            <input type="text" value="">
            <label for="">Situação</label>
            <input type="text" value="">
            <label for="">Data de Criação</label>
            <input type="text" value="">
            <label for="">Data de Alteração</label>
            <input type="text" value="">
        </div>

        <div class="btn-box">
            <button>Inativar usuário</button>
            <button routerLink="/"></button>
        </div>
    </form>
</div>